<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>白日梦的国度</title>
  <link rel=icon href="favicon.ico" type="image/ico">
  <link rel="stylesheet" href="css/main.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152745301-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-152745301-1');
  </script>
</head>
<body>
  <div class="box">
    <h1 class="glitch" data-text="Diodon">Diodon</h1>
    <p>· Hello Toma ·</p>
    <span>YYOU</span>
  </div>
</body>
</html>
