body {
  margin: 0;
  padding: 0;
  background: #292c33;
  color: #fff;
}
.box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
p {
  margin: 0;
  font-weight: 200;
  font-size: 14px;
  opacity: 0.5;
}
.glitch {
  position: relative;
  margin: 0;
  font-size: 72px;
  line-height: 1.1;
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 1px;
  top: 0;
  text-shadow: 2px 0 #f00;
  color: #fff;
  background: #292c33;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -1px;
  top: 0;
  text-shadow: -2px 0 #00f;
  color: #fff;
  background: #292c33;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim2 3s infinite linear alternate-reverse;
}
@-moz-keyframes noise-anim {
  0% {
    clip: rect(8px, 9999px, 76px, 0);
  }
  5% {
    clip: rect(85px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(58px, 9999px, 19px, 0);
  }
  15% {
    clip: rect(89px, 9999px, 7px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 83px, 0);
  }
  25% {
    clip: rect(66px, 9999px, 37px, 0);
  }
  30% {
    clip: rect(79px, 9999px, 5px, 0);
  }
  35% {
    clip: rect(65px, 9999px, 59px, 0);
  }
  40% {
    clip: rect(30px, 9999px, 14px, 0);
  }
  45% {
    clip: rect(10px, 9999px, 88px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 70px, 0);
  }
  55% {
    clip: rect(72px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(72px, 9999px, 95px, 0);
  }
  65% {
    clip: rect(35px, 9999px, 21px, 0);
  }
  70% {
    clip: rect(53px, 9999px, 72px, 0);
  }
  75% {
    clip: rect(99px, 9999px, 46px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 57px, 0);
  }
  85% {
    clip: rect(74px, 9999px, 80px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 33px, 0);
  }
  95% {
    clip: rect(36px, 9999px, 95px, 0);
  }
  100% {
    clip: rect(0px, 9999px, 73px, 0);
  }
}
@-webkit-keyframes noise-anim {
  0% {
    clip: rect(8px, 9999px, 76px, 0);
  }
  5% {
    clip: rect(85px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(58px, 9999px, 19px, 0);
  }
  15% {
    clip: rect(89px, 9999px, 7px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 83px, 0);
  }
  25% {
    clip: rect(66px, 9999px, 37px, 0);
  }
  30% {
    clip: rect(79px, 9999px, 5px, 0);
  }
  35% {
    clip: rect(65px, 9999px, 59px, 0);
  }
  40% {
    clip: rect(30px, 9999px, 14px, 0);
  }
  45% {
    clip: rect(10px, 9999px, 88px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 70px, 0);
  }
  55% {
    clip: rect(72px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(72px, 9999px, 95px, 0);
  }
  65% {
    clip: rect(35px, 9999px, 21px, 0);
  }
  70% {
    clip: rect(53px, 9999px, 72px, 0);
  }
  75% {
    clip: rect(99px, 9999px, 46px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 57px, 0);
  }
  85% {
    clip: rect(74px, 9999px, 80px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 33px, 0);
  }
  95% {
    clip: rect(36px, 9999px, 95px, 0);
  }
  100% {
    clip: rect(0px, 9999px, 73px, 0);
  }
}
@-o-keyframes noise-anim {
  0% {
    clip: rect(8px, 9999px, 76px, 0);
  }
  5% {
    clip: rect(85px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(58px, 9999px, 19px, 0);
  }
  15% {
    clip: rect(89px, 9999px, 7px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 83px, 0);
  }
  25% {
    clip: rect(66px, 9999px, 37px, 0);
  }
  30% {
    clip: rect(79px, 9999px, 5px, 0);
  }
  35% {
    clip: rect(65px, 9999px, 59px, 0);
  }
  40% {
    clip: rect(30px, 9999px, 14px, 0);
  }
  45% {
    clip: rect(10px, 9999px, 88px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 70px, 0);
  }
  55% {
    clip: rect(72px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(72px, 9999px, 95px, 0);
  }
  65% {
    clip: rect(35px, 9999px, 21px, 0);
  }
  70% {
    clip: rect(53px, 9999px, 72px, 0);
  }
  75% {
    clip: rect(99px, 9999px, 46px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 57px, 0);
  }
  85% {
    clip: rect(74px, 9999px, 80px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 33px, 0);
  }
  95% {
    clip: rect(36px, 9999px, 95px, 0);
  }
  100% {
    clip: rect(0px, 9999px, 73px, 0);
  }
}
@keyframes noise-anim {
  0% {
    clip: rect(8px, 9999px, 76px, 0);
  }
  5% {
    clip: rect(85px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(58px, 9999px, 19px, 0);
  }
  15% {
    clip: rect(89px, 9999px, 7px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 83px, 0);
  }
  25% {
    clip: rect(66px, 9999px, 37px, 0);
  }
  30% {
    clip: rect(79px, 9999px, 5px, 0);
  }
  35% {
    clip: rect(65px, 9999px, 59px, 0);
  }
  40% {
    clip: rect(30px, 9999px, 14px, 0);
  }
  45% {
    clip: rect(10px, 9999px, 88px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 70px, 0);
  }
  55% {
    clip: rect(72px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(72px, 9999px, 95px, 0);
  }
  65% {
    clip: rect(35px, 9999px, 21px, 0);
  }
  70% {
    clip: rect(53px, 9999px, 72px, 0);
  }
  75% {
    clip: rect(99px, 9999px, 46px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 57px, 0);
  }
  85% {
    clip: rect(74px, 9999px, 80px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 33px, 0);
  }
  95% {
    clip: rect(36px, 9999px, 95px, 0);
  }
  100% {
    clip: rect(0px, 9999px, 73px, 0);
  }
}
@-moz-keyframes noise-anim2 {
  0% {
    clip: rect(53px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(6px, 9999px, 93px, 0);
  }
  10% {
    clip: rect(98px, 9999px, 24px, 0);
  }
  15% {
    clip: rect(40px, 9999px, 67px, 0);
  }
  20% {
    clip: rect(100px, 9999px, 66px, 0);
  }
  25% {
    clip: rect(31px, 9999px, 76px, 0);
  }
  30% {
    clip: rect(85px, 9999px, 2px, 0);
  }
  35% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  40% {
    clip: rect(0px, 9999px, 62px, 0);
  }
  45% {
    clip: rect(89px, 9999px, 0px, 0);
  }
  50% {
    clip: rect(48px, 9999px, 33px, 0);
  }
  55% {
    clip: rect(34px, 9999px, 79px, 0);
  }
  60% {
    clip: rect(90px, 9999px, 90px, 0);
  }
  65% {
    clip: rect(91px, 9999px, 44px, 0);
  }
  70% {
    clip: rect(14px, 9999px, 15px, 0);
  }
  75% {
    clip: rect(61px, 9999px, 87px, 0);
  }
  80% {
    clip: rect(11px, 9999px, 91px, 0);
  }
  85% {
    clip: rect(11px, 9999px, 6px, 0);
  }
  90% {
    clip: rect(10px, 9999px, 51px, 0);
  }
  95% {
    clip: rect(48px, 9999px, 42px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 15px, 0);
  }
}
@-webkit-keyframes noise-anim2 {
  0% {
    clip: rect(53px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(6px, 9999px, 93px, 0);
  }
  10% {
    clip: rect(98px, 9999px, 24px, 0);
  }
  15% {
    clip: rect(40px, 9999px, 67px, 0);
  }
  20% {
    clip: rect(100px, 9999px, 66px, 0);
  }
  25% {
    clip: rect(31px, 9999px, 76px, 0);
  }
  30% {
    clip: rect(85px, 9999px, 2px, 0);
  }
  35% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  40% {
    clip: rect(0px, 9999px, 62px, 0);
  }
  45% {
    clip: rect(89px, 9999px, 0px, 0);
  }
  50% {
    clip: rect(48px, 9999px, 33px, 0);
  }
  55% {
    clip: rect(34px, 9999px, 79px, 0);
  }
  60% {
    clip: rect(90px, 9999px, 90px, 0);
  }
  65% {
    clip: rect(91px, 9999px, 44px, 0);
  }
  70% {
    clip: rect(14px, 9999px, 15px, 0);
  }
  75% {
    clip: rect(61px, 9999px, 87px, 0);
  }
  80% {
    clip: rect(11px, 9999px, 91px, 0);
  }
  85% {
    clip: rect(11px, 9999px, 6px, 0);
  }
  90% {
    clip: rect(10px, 9999px, 51px, 0);
  }
  95% {
    clip: rect(48px, 9999px, 42px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 15px, 0);
  }
}
@-o-keyframes noise-anim2 {
  0% {
    clip: rect(53px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(6px, 9999px, 93px, 0);
  }
  10% {
    clip: rect(98px, 9999px, 24px, 0);
  }
  15% {
    clip: rect(40px, 9999px, 67px, 0);
  }
  20% {
    clip: rect(100px, 9999px, 66px, 0);
  }
  25% {
    clip: rect(31px, 9999px, 76px, 0);
  }
  30% {
    clip: rect(85px, 9999px, 2px, 0);
  }
  35% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  40% {
    clip: rect(0px, 9999px, 62px, 0);
  }
  45% {
    clip: rect(89px, 9999px, 0px, 0);
  }
  50% {
    clip: rect(48px, 9999px, 33px, 0);
  }
  55% {
    clip: rect(34px, 9999px, 79px, 0);
  }
  60% {
    clip: rect(90px, 9999px, 90px, 0);
  }
  65% {
    clip: rect(91px, 9999px, 44px, 0);
  }
  70% {
    clip: rect(14px, 9999px, 15px, 0);
  }
  75% {
    clip: rect(61px, 9999px, 87px, 0);
  }
  80% {
    clip: rect(11px, 9999px, 91px, 0);
  }
  85% {
    clip: rect(11px, 9999px, 6px, 0);
  }
  90% {
    clip: rect(10px, 9999px, 51px, 0);
  }
  95% {
    clip: rect(48px, 9999px, 42px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 15px, 0);
  }
}
@keyframes noise-anim2 {
  0% {
    clip: rect(53px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(6px, 9999px, 93px, 0);
  }
  10% {
    clip: rect(98px, 9999px, 24px, 0);
  }
  15% {
    clip: rect(40px, 9999px, 67px, 0);
  }
  20% {
    clip: rect(100px, 9999px, 66px, 0);
  }
  25% {
    clip: rect(31px, 9999px, 76px, 0);
  }
  30% {
    clip: rect(85px, 9999px, 2px, 0);
  }
  35% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  40% {
    clip: rect(0px, 9999px, 62px, 0);
  }
  45% {
    clip: rect(89px, 9999px, 0px, 0);
  }
  50% {
    clip: rect(48px, 9999px, 33px, 0);
  }
  55% {
    clip: rect(34px, 9999px, 79px, 0);
  }
  60% {
    clip: rect(90px, 9999px, 90px, 0);
  }
  65% {
    clip: rect(91px, 9999px, 44px, 0);
  }
  70% {
    clip: rect(14px, 9999px, 15px, 0);
  }
  75% {
    clip: rect(61px, 9999px, 87px, 0);
  }
  80% {
    clip: rect(11px, 9999px, 91px, 0);
  }
  85% {
    clip: rect(11px, 9999px, 6px, 0);
  }
  90% {
    clip: rect(10px, 9999px, 51px, 0);
  }
  95% {
    clip: rect(48px, 9999px, 42px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 15px, 0);
  }
}
